* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(190, 188, 188);
}

.wrapper {
  /*container*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  width: 50rem;
  height: 20rem;
  gap: 1rem;
  border: solid 3px black;
}
article {
  /*tärningsida*/
  background-color: rgb(247, 250, 250);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 5rem;
  width: 5rem;
  border: solid 2px black;
  border-radius: 10%;
}
aside {
  /*prick*/
  background-color: black;
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
}
/*****tärningssidor i container*****/
.diceOne {
  grid-column: 1;
  grid-row: 2;
}
.diceTwo {
  grid-column: 2;
  grid-row: 2;
}
.diceThree {
  grid-column: 3;
  grid-row: 2;
}
.diceFour {
  grid-column: 4;
  grid-row: 2;
}
.diceFive {
  grid-column: 5;
  grid-row: 2;
}
.diceSix {
  grid-column: 6;
  grid-row: 2;
}

/***Placeringar av prickar***/

.diceOne aside:nth-child(1){
    grid-column:3;
    grid-row:3;
}

.diceTwo aside:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
}
.diceTwo aside:nth-child(2) {
    grid-column: 4;
    grid-row: 4;
}

.diceThree aside:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
}
.diceThree aside:nth-child(2) {
    grid-column: 4;
    grid-row: 4;
}
.diceThree aside:nth-child(3){
    grid-column: 3;
    grid-row: 3;
}
.diceFour aside:nth-child(1){
    grid-column: 2;
    grid-row: 2;
}
.diceFour aside:nth-child(2){
    grid-column:4 ;
    grid-row: 2;
}
.diceFour aside:nth-child(3){
    grid-column: 2;
    grid-row: 4;
}
.diceFour aside:nth-child(4){
    grid-column: 4;
    grid-row: 4;
}

.diceFive aside:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
}
.diceFive aside:nth-child(2) {
    grid-column: 4;
    grid-row: 4;
}
.diceFive aside:nth-child(3){
    grid-column: 3;
    grid-row: 3;
}
.diceFive aside:nth-child(4){
    grid-column: 2;
    grid-row: 4;
}
.diceFive aside:nth-child(5){
    grid-column: 4;
    grid-row: 2;
}

.diceSix aside:nth-child(1) {
    grid-column: 2;
    grid-row: 2;
}
.diceSix aside:nth-child(2) {
    grid-column: 2;
    grid-row: 3;
}
.diceSix aside:nth-child(3){
    grid-column: 2;
    grid-row: 4;
}
.diceSix aside:nth-child(4){
    grid-column: 4;
    grid-row: 2;
}
.diceSix aside:nth-child(5){
    grid-column: 4;
    grid-row: 3;
}
.diceSix aside:nth-child(6){
    grid-column: 4;
    grid-row: 4;
}


